## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
# 以作業一所選定的資料集進行練習
data_file = os.path.join(dir_data, 'UCI_Credit_Card.csv')
print('Path of read in data: %s' % (data_file))
df = pd.read_csv(data_file)
df.head()

Path of read in data: ./data/UCI_Credit_Card.csv

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
# 第一種方法 - 直接取 dataframe 的尺寸
(s_rows, s_columns) = df.shape
print( 'Dataframe Shap - Row Count: {0}, Column Count: {1}'.format(s_rows, s_columns))

# 第二種方法 - 分別取得 row/column count
# 取得 row count
rows = len(df.index)

# 取得 column count
columns = len(df.columns)

print(  'Dataframe - Row Count: {0}, Column Count: {1}'.format(rows, columns))

Dataframe Shap - Row Count: 30000, Column Count: 25
Dataframe - Row Count: 30000, Column Count: 25

#### 列出所有欄位

In [5]:
df.dtypes

ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

#### 前 5 筆資料

In [6]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

#### 截取部分資料

In [7]:
# 取得資料第 10001 ~ 10005 筆資料的 'ID','LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE','default.payment.next.month' 資料欄位
df[['ID','LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE','default.payment.next.month']][10000:10005]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,default.payment.next.month
10000,10001,260000.0,2,1,1,40,0
10001,10002,50000.0,2,2,2,28,0
10002,10003,340000.0,1,2,1,35,0
10003,10004,50000.0,1,1,2,39,0
10004,10005,200000.0,2,3,2,45,0

In [8]:
# 取得資料第 10000, 10002, 10004 筆資料的 ID, LIMIT_BAL, SEX, AGE 欄位
df.loc[[10000,10002,10004],['ID','LIMIT_BAL','SEX','AGE']]

          ID  LIMIT_BAL  SEX  AGE
10000  10001   260000.0    2   40
10002  10003   340000.0    1   35
10004  10005   200000.0    2   45

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [9]:
# 資料過濾 - 找大於 70 歲的資料
over70_index = df[df.AGE > 70]
print(type(over70_index))
print('大於 70 歲的人數有：{0} 人'.format(len(over70_index)))
over70_index[['ID','LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE','default.payment.next.month']]

<class 'pandas.core.frame.DataFrame'>
大於 70 歲的人數有：15 人

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,default.payment.next.month
246,247,250000.0,2,2,1,75,0
387,388,80000.0,1,3,1,73,1
1644,1645,50000.0,1,3,1,72,1
2104,2105,250000.0,1,1,1,71,0
6023,6024,70000.0,2,3,1,71,0
10699,10700,140000.0,1,2,1,73,0
18245,18246,440000.0,1,1,1,79,0
20264,20265,150000.0,2,3,1,72,0
25136,25137,180000.0,1,1,1,75,1
25141,25142,210000.0,1,2,1,75,0
25142,25143,300000.0,1,3,1,72,0
27541,27542,250000.0,1,1,1,71,0
29163,29164,360000.0,2,3,1,73,1
29175,29176,160000.0,2,3,1,74,0
29179,29180,500000.0,2,2,1,73,1

In [10]:
# 排除 最近 2 個月都沒有使用信用卡資料
no_credit=df[(df.PAY_0 == -2) & (df.PAY_2 == -2)]
no_credit.shape

(2561, 25)

In [11]:
# 剩除最近 2 個月使用信用卡的資料
using_credit=df[(df.PAY_0 != -2) | (df.PAY_2 != -2)]
using_credit.shape

(27439, 25)

In [12]:
# 將年齡轉成類別型資料, 自 20 歲開始每 5 年為一個單位, 上限 70+
sections = [0,19,24,29,34,39,44,49,54,59,64,69,np.inf]
# 類別 (一般會設定為數值)
category_labels = ['<20', '20~24', '25~29', '30~34','35~39','40~44', '45~49', '50~54', '55~59', '60~64', '65~69', '70+']
# using_credit.assign(AGE_CATEGORY = pd.cut(using_credit['AGE'], sections, labels=category_labels))
using_credit.insert(6, 'AGE_CATEGORY', pd.cut(using_credit['AGE'], sections, labels=category_labels), True)
using_credit

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,AGE_CATEGORY,PAY_0,PAY_2,PAY_3,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,20~24,2,2,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,25~29,-1,2,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,30~34,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,35~39,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,55~59,-1,0,-1,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,6,50000.0,1,1,2,37,35~39,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,7,500000.0,1,1,2,29,25~29,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,8,100000.0,2,2,2,23,20~24,0,-1,-1,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,9,140000.0,2,3,1,28,25~29,0,0,2,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
10,11,200000.0,2,3,2,34,30~34,0,0,2,...,2513.0,1828.0,3731.0,2306.0,12.0,50.0,300.0,3738.0,66.0,0
11,12,260000.0,2,1,2,51,50~54,-1,-1,-1,...,8517.0,22287.0,13668.0,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,0
12,13,630000.0,2,2,2,41,40~44,-1,0,-1,...,6500.0,6500.0,2870.0,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,0
13,14,70000.0,1,2,2,30,30~34,1,2,2,...,66782.0,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0,1
14,15,250000.0,1,1,2,29,25~29,0,0,0,...,59696.0,56875.0,55512.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,0
15,16,50000.0,2,3,3,23,20~24,1,2,0,...,28771.0,29531.0,30211.0,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,0
16,17,20000.0,1,1,2,24,20~24,0,0,2,...,18338.0,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0,1
17,18,320000.0,1,1,1,49,45~49,0,0,0,...,70074.0,5856.0,195599.0,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,0
18,19,360000.0,2,1,1,49,45~49,1,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,20,180000.0,2,1,2,29,25~29,1,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
20,21,130000.0,2,3,2,39,35~39,0,0,0,...,20616.0,11802.0,930.0,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,0
21,22,120000.0,2,2,1,39,35~39,-1,-1,-1,...,0.0,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0,1
22,23,70000.0,2,2,2,26,25~29,2,0,0,...,44006.0,46905.0,46012.0,2007.0,3582.0,0.0,3601.0,0.0,1820.0,1
24,25,90000.0,1,1,2,23,20~24,0,0,0,...,5398.0,6360.0,8292.0,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,0
25,26,50000.0,1,3,2,23,20~24,0,0,0,...,28967.0,29829.0,30046.0,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,0
26,27,60000.0,1,1,2,27,25~29,1,-2,-1,...,-57.0,127.0,-189.0,0.0,1000.0,0.0,500.0,0.0,1000.0,1
27,28,50000.0,2,3,2,30,30~34,0,0,0,...,17878.0,18931.0,19617.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,0
28,29,50000.0,2,3,1,47,45~49,-1,-1,-1,...,2040.0,30430.0,257.0,3415.0,3421.0,2044.0,30430.0,257.0,0.0,0
29,30,50000.0,1,1,2,26,25~29,0,0,0,...,17907.0,18375.0,11400.0,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,0
30,31,230000.0,2,1,2,27,25~29,-1,-1,-1,...,15339.0,14307.0,36923.0,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,0
31,32,50000.0,1,2,2,33,30~34,2,0,0,...,22734.0,23217.0,23680.0,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29967,29968,50000.0,1,2,1,32,30~34,0,0,0,...,50551.0,40590.0,39384.0,2686.0,0.0,50551.0,0.0,1600.0,1500.0,0
29968,29969,20000.0,1,2,2,34,30~34,0,0,0,...,13478.0,16978.0,12914.0,2000.0,2000.0,1000.0,5000.0,12914.0,600.0,0
29969,29970,200000.0,1,2,1,33,30~34,0,0,0,...,56768.0,58826.0,67577.0,5000.0,2183.0,2059.0,3000.0,9751.0,3000.0,0
29970,29971,360000.0,1,1,1,34,30~34,-1,-1,-1,...,49005.0,8676.0,19487.0,52951.0,64535.0,8907.0,53.0,19584.0,16080.0,0
29971,29972,80000.0,1,3,1,36,35~39,0,0,0,...,69674.0,71070.0,73612.0,2395.0,2500.0,2530.0,2556.0,3700.0,3000.0,0
29972,29973,190000.0,1,1,1,37,35~39,0,0,0,...,29223.0,19616.0,148482.0,2000.0,3869.0,25128.0,10115.0,148482.0,4800.0,0
29973,29974,230000.0,1,2,1,35,35~39,1,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29974,29975,50000.0,1,2,1,37,35~39,1,2,2,...,2846.0,1585.0,1324.0,0.0,3000.0,0.0,0.0,1000.0,1000.0,1
29975,29976,220000.0,1,2,1,41,40~44,0,0,-1,...,5924.0,1759.0,1824.0,8840.0,6643.0,5924.0,1759.0,1824.0,7022.0,0
29976,29977,40000.0,1,2,2,47,45~49,2,2,3,...,51259.0,47151.0,46934.0,4000.0,0.0,2000.0,0.0,3520.0,0.0,1
29977,29978,420000.0,1,1,2,34,30~34,0,0,0,...,141695.0,144839.0,147954.0,7000.0,7000.0,5500.0,5500.0,5600.0,5000.0,0
29978,29979,310000.0,1,2,1,39,35~39,0,0,0,...,219409.0,216540.0,210675.0,10029.0,9218.0,10029.0,8049.0,8040.0,10059.0,0
29980,29981,50000.0,1,3,2,42,40~44,0,0,0,...,50360.0,19971.0,19694.0,10000.0,4000.0,5000.0,3000.0,4500.0,2000.0,0
29981,29982,50000.0,1,2,1,44,40~44,1,2,2,...,28192.0,22676.0,14647.0,2300.0,1700.0,0.0,517.0,503.0,585.0,0
29982,29983,90000.0,1,2,1,36,35~39,0,0,0,...,11328.0,12036.0,14329.0,1500.0,1500.0,1500.0,1200.0,2500.0,0.0,1
29984,29985,30000.0,1,2,2,38,35~39,-1,-1,-2,...,1993.0,1907.0,3319.0,923.0,2977.0,1999.0,3057.0,3319.0,1000.0,0
29986,29987,360000.0,1,1,2,35,35~39,-1,-1,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
29987,29988,130000.0,1,1,2,34,30~34,0,0,0,...,108047.0,93708.0,97353.0,3000.0,2000.0,93000.0,4000.0,5027.0,4005.0,0
29988,29989,250000.0,1,1,1,34,30~34,0,0,0,...,245750.0,175005.0,179687.0,65000.0,8800.0,9011.0,6000.0,7000.0,6009.0,0
29989,29990,150000.0,1,1,2,35,35~39,-1,-1,-1,...,780.0,0.0,0.0,9054.0,0.0,783.0,0.0,0.0,0.0,0
29990,29991,140000.0,1,2,1,41,40~44,0,0,0,...,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0,0
29991,29992,210000.0,1,2,1,34,30~34,3,2,2,...,2500.0,2500.0,2500.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29992,29993,10000.0,1,3,1,43,40~44,0,0,0,...,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0,0
29993,29994,100000.0,1,1,2,38,35~39,0,-1,-1,...,70626.0,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0,0
29994,29995,80000.0,1,2,2,34,30~34,2,2,2,...,77519.0,82607.0,81158.0,7000.0,3500.0,0.0,7000.0,0.0,4000.0,1
29995,29996,220000.0,1,3,1,39,35~39,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,40~44,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,35~39,4,3,2,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,40~44,1,-1,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,45~49,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [13]:
using_credit[['ID','AGE','AGE_CATEGORY']]

          ID  AGE AGE_CATEGORY
0          1   24        20~24
1          2   26        25~29
2          3   34        30~34
3          4   37        35~39
4          5   57        55~59
5          6   37        35~39
6          7   29        25~29
7          8   23        20~24
8          9   28        25~29
10        11   34        30~34
11        12   51        50~54
12        13   41        40~44
13        14   30        30~34
14        15   29        25~29
15        16   23        20~24
16        17   24        20~24
17        18   49        45~49
18        19   49        45~49
19        20   29        25~29
20        21   39        35~39
21        22   39        35~39
22        23   26        25~29
24        25   23        20~24
25        26   23        20~24
26        27   27        25~29
27        28   30        30~34
28        29   47        45~49
29        30   26        25~29
30        31   27        25~29
31        32   33        30~34
...      ...  ...          ...
29967  29968   32        30~34
29968  29969   34        30~34
29969  29970   33        30~34
29970  29971   34        30~34
29971  29972   36        35~39
29972  29973   37        35~39
29973  29974   35        35~39
29974  29975   37        35~39
29975  29976   41        40~44
29976  29977   47        45~49
29977  29978   34        30~34
29978  29979   39        35~39
29980  29981   42        40~44
29981  29982   44        40~44
29982  29983   36        35~39
29984  29985   38        35~39
29986  29987   35        35~39
29987  29988   34        30~34
29988  29989   34        30~34
29989  29990   35        35~39
29990  29991   41        40~44
29991  29992   34        30~34
29992  29993   43        40~44
29993  29994   38        35~39
29994  29995   34        30~34
29995  29996   39        35~39
29996  29997   43        40~44
29997  29998   37        35~39
29998  29999   41        40~44
29999  30000   46        45~49

[27439 rows x 3 columns]